body {
  font-family: 'Open Sans', cursive;
}

nav {
  font-family: 'Balsamiq Sans', cursive;
  letter-spacing: 0.08em;
}

.btn {
  font-family: 'Balsamiq Sans', cursive;
  letter-spacing: 0.08em;
}

h1 {
  font-family: 'Balsamiq Sans', cursive;
}
